{% extends "base.html" %}

{% block content %}


<div class="container m-5">
    <h1>{{ post.title }}</h1>
    
    <p>{{ post.content }}</p>
    
    <p><i>By {{post.user.first_name}} {{post.user.last_name}}</i></p>
</div>

<div class="container m-5">
    <a href="/users/{{post.user.id}}"><button class="btn btn-info">Cancel</button></a>

    <a href="/posts/{{post.id}}/edit"><button class="btn btn-primary">Edit</button></a>

    <form action="/posts/{{post.id}}/delete" method="POST">
        <a href=""><button class="btn btn-danger">Delete</button></a>
    </form>

</div>

{% endblock %}