{% extends "base.html" %}

{% block content %}

<form method="POST">

<label for="first_name">First Name</label>
<input type="text" id="first_name" name="first_name" placeholder="Enter a first name">

<label for="last_name">Last Name</label>
<input type="text" id="last_name" name="last_name" placeholder="Enter a last name">

<label for="image_url">Image URL</label>
<input type="url" id="image_url" name="image_url" placeholder="http://example.com">

<button class="btn btn-primary">Add</button>

</form>

<!-- Testing for show_form -->
{% endblock %}